{% from "_formhelpers.html" import render_field %}
<html>
  <div class="column">
    <h1>Housing Helper</h1>
  <form method=post>
    <dl>
      {{ render_field(form.source) }}
      {{ render_field(form.destination1)}}
      {{ render_field(form.destination2)}}
      {{ render_field(form.near_me)}}
      {{ render_field(form.transport)}}
    </dl>
    <p><input type=submit value=Submit>
  </form>
  </div>
  <table>
  	<tr>
  	{% if travel1 %}
	<iframe
	  width="500"
	  height="400"
	  frameborder="0" style="border:0"
	  src={{travel1}} allowfullscreen>
	</iframe>
	{% endif %}
	{% if travel2 %}
	<iframe
	  width="500"
	  height="400"
	  frameborder="0" style="border:0"
	  src={{travel2}} allowfullscreen>
	</iframe>
	{% endif %}
	{% if near %}
	<iframe
	  width="500"
	  height="400"
	  frameborder="0" style="border:0"
	  src={{near}} allowfullscreen>
	</iframe>
	{% endif %}
	</tr>
	<tr>
		<h1>Supermarkets</h1>
		{% for market in markets_walk %}
		<iframe
		  width="500"
		  height="400"
		  frameborder="0" style="border:0"
		  src={{market}} allowfullscreen>
		</iframe>
		{% endfor %}
	</tr>
	</table>
</html>